.todolist {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid grey;
    background-color: lightgrey;
}

/* BUTTONS */
.btn {
    background-color: indianred;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: darkred;
}

.btn--footer {
    background-color: lightslategray;
    margin-right: 10px;
    border: 2px solid black;
}

.btn--footer:last-child {
    margin-right: 0;
}

.btn--footer:hover {
    background-color: #566474;
}

.btn--active {
    border: 2px solid brown;
    outline-color: brown;
    background-color: brown;
}
