.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid lightslategray;
}

.itemDone {
  text-decoration: line-through;
}

.taskCheckbox {
  margin-right: 10px;
}

.taskInput {
  width: 450px;
  padding: 5px 10px;
  font-size: 16px;
}

.deleteTask {
  opacity: 0.8;
}

.deleteTask:hover {
  opacity: 1;
    cursor: pointer;
}
