.app {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.app__warning {
  text-align: center;
}

.app__warning::before {
  position: absolute;
  top: -4px;
  left: 30px;
  width: 32px;
  height: 32px;
  content: "";
  background-image: url("img/warning.png");
}

.app__desc {
  margin-bottom: 40px;
}
